name: myFirstWorkflow
# To be triggered on all pushes in this repo in any branch
on: 
  push:
jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
      - name: Step1
        run: |
          pwd
          ls -ltr
          hostname
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Step3
        run: |
          pwd
          ls -ltr
          hostname
