name: myFirstWorkflow
# To be triggered on all pushes in this repo in any branch
on: 
  push:
    branches: 
      - dev
      - 'feature-*'
      - main
env: 
  ENV_TYPE: DEV
  APP_USER: thinknyx
  APP_PORT: 80
  
jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
      - name: Step1
        run: |
          pwd
          ls -ltr
          hostname
      - name: Step 2 - Checkout
        uses: actions/checkout@v6.0.2
      - name: Step 3
        run: |
          echo 'pwd' >> myartifact.txt
          mkdir artifacts
          echo 'ls -ltr' >> artifacts/list.txt
          echo 'hostname' >> artifacts/hostname.txt
      - name: Step 4 - Upload Single File
        uses: actions/upload-artifact@v6.0.0 
        with:
          name: single_file
          path: ./myartifact.txt
  job2:
    needs: job1
    name: JOB2
    runs-on: ubuntu-latest
    steps:
      - name: checking current directory
        run: |
          pwd
          ls -ltr
      - name: download single file artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: single_file
      - name: Referring Environment variable
        run: |
          echo "[INFO] Running deployment for $ENV_TYPE with user $APP_USER."
          echo "[INFO] Once deployed, the application is accessible on port $APP_PORT."
      - name: Referring Repository Secret
        run: |
          echo "[INFO] Application password is ${{ secrets.APP_PASSWORD }}"
  job3:
    name: JOB3
    runs-on: ubuntu-latest
    steps:
      - name: Refrerring context or in-built variables
        run: |
          echo "[INFO] Triggered by ${{ github.event_name }}."
          echo "[INFO] New changs are added by ${{ github.actor }} in ${{ github.ref_name }} branch."
          echo "[INFO] New changs are added by ${{ github.actor }} in ${{ github.head_ref }} branch."  
          echo "[INFO] Current step is running on ${{ runner.os }}."
          echo "[INFO] Current JOB ID is ${{ job.check_run_id }}."
  staging:
    name: Staging Deployment
    runs-on: ubuntu-latest
    steps:
      - name: Referring Environment Variables
        run: |
          echo "[INFO] Running deployment on ${{ vars.HOST }} using ${{ vars.USER }}." 
      - name: Referring Env Secrets
        run: |
          echo "[INFO] Password for ${{ vars.USER }} is ${{ secrets.PASSWORD }}."
    environment:
      name: Staging
    if: github.ref == 'refs/heads/dev'  
       # github.head_ref == 'dev'   if coming from a PR
  production: 
    name: PRODUCTION DEPLOYMENT
    runs-on: uubuntu-latest
    steps:
      - name: Referring Environment Variables
        run: |
          echo "[INFO] Running deployment on ${{ vars.HOST }} using ${{ vars.USER }}." 
      - name: Referring Env Secrets
        run: |
          echo "[INFO] Password for ${{ vars.USER }} is ${{ secrets.PASSWORD }}."
    environment:
      name: PRODUCTION     
    if: github.ref == 'refs/heads/main'      
      
