name: myFirstWorkflow
# To be triggered on all pushes in this repo in any branch
on: 
  push:
jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
      - name: Step1
        run: |
          pwd
          ls -ltr
          hostname
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Step 2 - Checkout
        run: |
          echo 'pwd' >> myartifact.txt
          ls -ltr
          hostname
      - name: Step 3 - Upload Single File
        uses: actions/upload-artifact@v6.0.0 
        with:
          name: single_file
          path: ./myartifact.txt
