name: myFirstWorkflow
# To be triggered on all pushes in this repo in any branch
on: 
  #push:
  schedule:
    - cron: "5 * * * *"
  workflow_dispatch:
  push:
jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
      - name: Running signle command in JOB1
        run: echo "Hi, this is my first GitHub workflow"
      - name: Checking OS release for GitHub hosted runner
        run: cat /etc/os-release
      - name: Calling sleep
        run: sleep 20
  job2:
    name: JOB2
    runs-on: ubuntu-latest
    steps:
      - name: Checking the hostname for runner
        run: hostname
      - name: Running multiple commands
        run: 
          echo "Hi from Ron"
          echo "Current time is 'date'"
          sleep 20   
  job3:
    name: JOB3
    needs: job1
    runs-on: windows-latest
    steps:
      - name: Job with single dependency
        run: sleep 10
      - name: checking runner info
        shell: pwsh
        run: get-computerinfo
  job4:
    name: JOB4
    needs: [job1,job2,job3]
    runs-on: macos-latest
    steps:  
      - name: Job for multiple dependencies
        run: sleep 10
      - name: Checking runner info
        run: sw_vers
